<!DOCTYPE html>
<html>
    <head>
        <title>vicha</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='style.css')}}"
            >
    </head>
    <body>
        <div class="chat-container">
            


        
            <div class="messages">
                {% for msg in chat_history %}
                    <div class="message {{ msg.role }}">
                        {{ msg.content }}

                    </div>
                {% endfor %}
            </div>
            <form method="POST" class="input-box">
                <input type="text" name="message" placeholder="Type here...">
                <button type="submit">Send</button>
            
            </form>
        </div>
    </body>
</html>