<!DOCTYPE html>
<html>
    <head>
        <title>vicha</title>
    </head>
    <body>
        
        <h2>Welcome to vicha</h2>


        
        <div>
            {% for sender, message in chat %}
                <p><strong>{{ sender }}:</strong>{{ message}}</p>
            {% endfor %}
        </div>
        <form method="POST">
            <input type="text" name="message" placeholder="Type here...">
            <button type="submit">Send</button>
            
        </form>

    </body>
</html>